@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}
